<%- include ("partials/header.ejs") %>

<article>
    <div class="container">
        <h2>Troca de Senha</h2>
        <!--
        <form method="POST" action="/passwood/new">
            <input type="text" name="userId" hidden value="<%= userId %>">
            <input type="password" name="password" placeholder="Insira a nova senha"><br>
            <button class="btn btn-success">Confirmar</button>
        </form>
        -->
        <form method="POST" action="/passwood/new">
            <input type="text" name="userId" hidden value="<%= userId %>">
            <fieldset disabled>
            <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Usuário</label>
            <input type="text" id="disabledTextInput" class="form-control" value="<%= userName%>">
            </div>
            </fieldset>
            <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Nova senha </label>
            <input class="form-control" type="password" name="password" placeholder="Insira a nova senha">
            </div>
    
            <button type="submit" class="btn btn-primary">Confirmar</button>
        </form>
      </div>
</article>
<%- include ("partials/footer.ejs") %>